modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "10/28 6:34 pm"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "10/28 6:34 pm"]
deploymentTarget = "cloudrun"
